/* Style for media*/

@media (max-width: 960px){
	.slaider{
	width: 480px;
	margin-top: -30px;
	}



	.wrapper{
		width: 730px;
	}
	.header-top{
		flex-direction: column;
	}
	.logo{
		margin-bottom: 35px;
	}

	.wrapper_in_head_bottom{
	width: 730px;
	margin:0 auto;
	}

	.info span{
		display: none;
	}

	.info p:first-child{
	font-size: 40px;
	}

	.info p:nth-child(2){
	 font-size: 17px;
	}

	.info_about p:first-child{
	font-size: 16px;
	}


	.info_about p:nth-child(2) span{
		display: none;
	}
	

	.updates p:last-child{
	font-size: 11px;
	}

	.left_p_2{
		display: none;
	}

	 .partner_1{
 	margin-left: 0px;
 	}

 	.partner_6{
 	margin-right: 0px;
 	}
	
	.footer{
		height: 200px;
		background-size: cover;
	}
	.menu_footer li{
	margin-right: 35px;
	position: relative;
	bottom: 40px;
	}
	
	.footer p{
		top: 20px;
		position: relative;
	}
	.body .wrapper div:first-child p:nth-child(2){
		display: none;
	}

	.left_responce {
   		 background-size: cover;
   		 height: 272px;
	}
}

@media (max-width: 768px) {
	.header{
	height: 560px;
	}

	.slaider{
	width: 440px;
	justify-content: center;
	z-index: 2;
	position: relative;
	}

	.wrapper{
		width: 440px;
	}
	.header-top{
		align-items: center;
	}

	.menu li {
		margin-right: 0px;
	}

	.other_li{
		margin: 0;
		display: none;
	}
	.first_li{
		display: block;
		margin: 0;
	}

	.first_li:hover  .other_li{
		display: block;
	}

	.header-bottom{
	margin-top: 20px;
	}

	.wrapper_in_head_bottom{
	width: 405px;
	margin:0 auto;
	}
	
	.line{
		height: 245px;
		top:220px;
	}

	.info p:last-child{
		display: none;
	}

	.phone{
		margin-left: 20px;
	}

	.phone img{
		width: 196px;
	}

	.info p:first-child {
   		font-size: 23px;
	}
	.info p:nth-child(2) {
    	font-size: 10px;
	}

	.about_company{
	height: 590px;
	background-size: cover;
	}

	.about_company .wrapper{
		flex-direction:column;
	}

	.info_about:first-child{
		margin-top: 90px;
	}
	
	.info_about{
		margin-top: 30px;
		margin-right: 0px;
	}

	.responce{
		height: 780px;
	}

	.responce .wrapper{
	display: flex;
	flex-direction: column;
	}

	.left_responce , .right_responce{
		width: 100%;
	}
	
	.left_responce{
		margin-top: 68px;
	}

	.updates p:last-child{
	font-size: 14px;
	}

	.partners{
		height: 232px;
	}

	.partners .wrapper{
		flex-wrap: wrap;
		justify-content: center;
	}

	.partner{
		width: 33%;
	}
	
	.partner{
		margin: 0px;
	}
	
	.footer .wrapper{
		flex-direction: column;
		justify-content: space-around;
	}
	
	.footer{
		height: 200px;
		background-size: cover;
	}
	
	.menu_footer{
		width: 100%;
	}
	.menu_footer li{
	margin-right: 35px;
	position: relative;
	bottom: 0px;
	margin-right: 25px;
	}

	.menu_footer li:last-child{
		margin-right: 0px;
	}
	
	.menu_footer a{
		font-size: 12px;
	}
	.footer p{
		top: -20px;
		position: relative;
	}

	.body{
		height: 675px;
	}

	.body .wrapper p:last-child{
		font-size: 12px;
	}

	.body .wrapper{
	display: flex;
	flex-direction: column;
	}

	.body .wrapper div {
    margin-right: 0px;
    width: 100%;
	}
	
	.body .wrapper div{
		margin-top: 75px;
	}


	.body .wrapper div:first-child{
		margin-top:100px;
	}

	.slaider_2{
		margin-top: 20px;
	}

}

@media (max-width: 480px) {
	.slaider{
		display: none;
	}

	.left-ar, .right-ar{
		display: none;
	}

	.slaider_2{
		margin-top: -20px;
	}

	.info p:first-child {
    font-size: 34px;
	}
	.info p:nth-child(2) {
    font-size: 16px;
	}
	.header{
	height: 515px;
	}
	.wrapper, .wrapper_in_head_bottom{
		width: 280px;
	}
	
	.phone{
		display: none;
	}
	
	.info{
		width: 100%;
	}

	.info p{
		text-align: center;
	}

	.line{
		display: none;
	}
	
	.info_about:first-child{
		margin-top: 60px;
	}

	.left_p_1{
		display: none;
	}

	.right_p{
		display: none;
	}

	.partner{
		width: 50%;
		margin-bottom: 40px;
	}

	.partner_5, .partner_6{
		margin-bottom: 0px;
	}

	.menu_footer{
		display: none;
	}

	.footer p{
		top: -40px;
	}
	.partners{
		height: 425px;
	}
	
	.partners .wrapper{
		align-content: center;
	}
	.body{
		display: none;
	}

	.left_responce, .right_responce {
    margin-left: 0px;
}
}